.checkout-page {
    display: flex;
    justify-content: center;
    padding: 40px;
    background: #f0f7ff;
    min-height: 100vh;
  }
  
  .checkout-box {
    background: white;
    padding: 30px;
    border-radius: 15px;
    width: 450px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
  }
  
  .checkout-details {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
  }
  
  .checkout-details img {
    width: 90px;
  }
  
  textarea, input {
    width: 100%;
    margin-top: 12px;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid #004aad;
  }
  
  .place-btn {
    width: 100%;
    margin-top: 15px;
    padding: 12px;
    background: #004aad;
    color: white;
    border-radius: 10px;
    border: none;
    font-size: 1.1rem;
    cursor: pointer;
  }
  